body {
    color: white;
}

@media (max-width: 543px) {
    body {
        background: red;
    }
}

@media (max-width: 767px) {
    body {
        background: orange;
    }
}

@media (max-width: 991px) {
    body {
        background: yellow;
    }
}

@media (max-width: 1199px) {
    body {
        background: green;
    }
}
